@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
font-family: Roboto, Arial;
text-align: center;
background: rgb(80,106,255);
background: linear-gradient(90deg, rgba(80,106,255,1) 0%, rgba(0,212,255,1) 100%);
}

:root {
--gradient: linear-gradient(90deg, rgba(180,33,169,1) 0%, rgba(149,18,83,1) 100%);
}

.a{
background-image: linear-gradient(90deg, rgba(61,89,59,1) 0%, rgba(60,171,28,1) 100%);
width: 100px;
}
a {
font-family: Roboto, Arial;
margin: auto;
padding: auto;
text-align: center;
transition: 0.5s;
background-size: auto;
color: white;            
border-radius: 10px;
display: block;
}
a:hover{
font-family: Roboto, Arial;
margin: auto;
padding: auto;
text-align: center;
transition: 0.5s;
background-size: auto;
color: black;            
box-shadow: 0 0 20px #000;
border-radius: 10px;
display: block;
}
h1 {
text-align: center;
}
.div {
  margin: auto;
  padding: 20px;
  width: 25px;
  height: 30px;
  color: black;
}
h2 {
  
}
input {
  text-align: center;
  outline: none;
  border-bottom: 2px solid #27455e;
}
.submit {
  text-align: center;
  border-radius: 20px;
  border: 2px solid #27435e;
}
.inv {
  z-index: 0;
  display: none;
}
.card h2{
  border: 2px solid var(--gradient);
  border-radius: 50%;
  padding: auto;
  mrgin: auto;
}
