html {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(159deg,rgba(224,18,216,1)0%, rgba(217,13,13,1) 97%);
  font-family: arial;
  font-weight: 800;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #8ba3f8;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  font-size: 23px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: #312d52;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #000;
  position: absolute;
  top: 0;
  width: 0%;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.cardmid {
  font-family: arial;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 250px;
  border-radius: 18px;
  background: white;
}
.shopcard {
margin: auto;
width: 230px;
height: 350px;
background: white;
border-radius: 15px;
text-align: center;
}
.t{
  color: #fbfcfd;
  font-family: arial;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 35px;

}
.img img {
 width: 1112px;
}
.t a{
color: #fbfcfd;
padding: 10px 25px;
background: transparent;
border: 1px solid #fff;
border-radius: 20px;
outline: none;
cursor: pointer;
text-decoration: none;

}
.social i{
display: flex;
height: 80px;
width: 80px;
margin: 0 15px;
border-radius: 70%;
align-items: center;
justify-content: center;
text-decoration: center;
}

.card{
  background: #2f3542;
  padding: 0 20px;
  margin: 0 10px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.card-icon{
  font-size: 28px;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon{
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 1;
  transition: 0.3s linear;
}



@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
